.next {
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-block !important;
}

.questionerror {
    margin-bottom: 25px;
    color: red;
    font-family: "Gotham";
    font-size: 20px;
}


.exam-answer-option {
    display: inline-block !important;
    margin-left: 10px;
    vertical-align: top;
    max-width: 85%;
}

.radio-button {
    vertical-align: top;
}


#examquestion {
    width: 100% !important;
}

.qcounter {
    font-family: "Gotham";
    font-size: "20px";
}